.contactme {
    display: block;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 60px;
    bottom: 20px;
    top: 0;
    padding-top: 500px;
}
.linkyyy{
    color: rgba(252, 105, 52, 0.616);
    transition: color 0.1s ease 0s;
}
.linkyyy:hover {
    cursor: pointer;
    color: #8df0e8ce;
    box-shadow: 0px 0px 6px rgb(253, 206, 189);
    transform: scale(2.2);
    transition: all 0.1s ease 0s;
}
