.nav-wrapper {
    position: fixed;
    /* background-image: url('../Images/background.jpg'); */
    background: transparent;
    width: 100vw;
    height: auto;
    background-size: cover;
    border-bottom: 0.5px solid lightcoral;
    top: 0;
    overflow-x: hidden;
    z-index: 2;
    color: aliceblue;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 2px;
    /* background-color:rgba(128, 0, 128, 0.185); */
    /* padding: 30px; */
}

.logo {
    width: fit-content;
    height: fit-content;
}

.link {
    color: white;
    text-decoration: none;

}

.link:hover {
    cursor:pointer;
    transform: scale(1.2);
    /* color:rgba(255, 127, 80, 0.568); */
    text-shadow: 0px 0px 6px rgb(255, 68, 0);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
/* rgba(255, 255, 255, 1) */

.name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.25em;
}

.soft-dev {
    color: #550355;
}