body {
  background-image: url('../src/components/Images/herobg.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.App {
  text-align: center;
}

/* .contact-me {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: flex-end; */